{
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "plugins": ["@prettier/plugin-php", "@shufo/prettier-plugin-blade"],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade",
        "tabWidth": 2,
        "wrapAttributes": "aligned-multiple",
        "wrapAttributesMinAttrs": 3,
        "singleAttributePerLine": false
      }
    },
    { "files": ["*.php"], "options": { "parser": "php", "tabWidth": 2, "braceStyle": "1tbs" } }
  ],
  "removedTemp": { "objectWrap": "collapse" }
}
